body {
    background-color: white;
}

h1 {
    display: flex;
    color: #FFDE00;
    font-size: 100px;
    font-weight: 500;
    font-style: regular;
    font-family: 'Bebas Neue';
    justify-content: center;
    text-shadow: black 4px 3px 0px;
}

h2 {
    display: flex;
    font-weight: 300;
    font-family: Roboto;
    font-size: 40px;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: black;
    padding: 15px;
    font-family: Roboto;
    font-size: 20px;
    border-width: 5px 0px 5px 0px;
}

a{
    color: #FFDE00;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration-line: none;
}